<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <img class="center" src="images/lablogo.png" alt="" width="280" height="280">
</head>

<body>
